*$py.class
**/*.csv
**/*.csv.bz2
**/*.csv.gz
**/*.csv.xz
**/*.ods
**/*.pyc
**/*.xls
**/*.xlsx
**/*.zip
**/__pycache__
*.csv
*.csv.gz
*.db
*.dump
*.dump.gz
*.json
*.py[cod]
*.sqlite
*.sqlite3
*~
**/.*.sw?
.bash_history
.cache
.dockerignore
.git
.gitignore
.ipython
.pytest_cache
.tags
README.md
__pycache__/
build/
data/
dist/
